:root {
    --bs-body-bg: #140408 !important;
    --bs-primary: rgb(58, 7, 22) !important;
    --bs-secondary-color: #e9ded9 !important;
    --bs-tertiary-bg: #43071a !important;
    /* --bs-font-sans-serif: 'Anton', 'Anton SC', 'Poppins' !important; */
}

/*
- Marrón: #140408
- Rojo: #43071a
- Marrón claro: #65474e
- Rosa medio oscuro: #a46a7a
- Rosa medio claro: #e9ded9
- Rosa claro: #eee2e4 - Rosa claro: #f2edec
*/


body {
    background-color: var(--bs-body-bg);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Escritorio */
@media only screen and (min-width: 1024px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Celulares */
@media only screen and (max-width: 767px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 25px;
    }
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

head {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 * {
    font-family: 'Anton SC' !important;
    color: var(--bs-secondary-color) !important;
    letter-spacing: 0.04em;
}

p {
    font-family: 'Poppins' !important;
    color: var(--bs-secondary-color) !important;
}


.bi {
    color: var(--bs-secondary-color) !important;
}



.jumbotron {
    background-image: url('img/EMME\ Creations\ -\ Fondos (1).png') !important;
    background-size: cover;
    background-position: center;
    height: 300px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}


nav,
footer {
    background-color: var(--) !important;
    color: var(--bs-secondary-color) !important;
}