:root {
    --bs-body-bg: #140408 !important;
    --bs-primary: #43071a !important;
    --bs-secondary-color: #eee2e4 !important;
    --bs-tertiary-bg: #43071a !important;
    --bs-font-title: 'Anton' !important;
    --bs-font-paragraph: 'Poppins' !important;
    /* --bs-font-sans-serif: 'Anton', 'Anton SC', 'Poppins' !important; */
}

/*
- Marrón: #140408
- Rojo: #43071a
- Marrón claro: #65474e
- Rosa medio oscuro: #a46a7a
- Rosa medio claro: #e9ded9
- Rosa claro: #eee2e4 - Rosa claro: #f2edec
*/


body {
    background-color: var(--bs-body-bg);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Escritorio */
@media only screen and (min-width: 1024px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Celulares */
@media only screen and (max-width: 767px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 25px;
    }
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

head {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 * {
    font-family: var(--bs-font-title) !important;
    color: var(--bs-secondary-color) !important;
    letter-spacing: 0.06em;
}

p {
    font-family: var(--bs-font-paragraph) !important;
    color: var(--bs-secondary-color) !important;
}


.btn {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    border-color: var(--bs-secondary-color) !important;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--bs-secondary-color) !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-secondary-color);
    font-weight: 500;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(206, 14, 14);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }



nav .navbar-brand {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    font-family: var(--bs-font-title) !important;
    letter-spacing: 0.06em;
}

nav,
nav a,
nav .nav-link {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    font-family: var(--bs-font-paragraph) !important;
}

nav .navbar-buttons .btn {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    border-color: var(--bs-secondary-color);
    font-weight: 500;
}

nav .navbar-buttons .btn:hover {
    background-color: var(--bs-secondary-color) !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-secondary-color);
}

footer {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
}


.bi {
    color: var(--bs-secondary-color) !important;
}


nav .navbar-icon svg {
    color: var(--bs-secondary-color) !important;
    height: 30px;
}

nav .navbar-toggler {
    color: var(--bs-secondary-color) !important;
    border-color: var(--bs-secondary-color);
    
}





.jumbotron {
    background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
    background-size: cover;
    background-position: center;
    height: 300px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}

.home {
    position: relative;
}

/* .card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.inicio .card-header {
    position: relative;
    z-index: 1;
} */


.home .card-header {
    background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.home .card-right {
    background-image: url('img/EMME\ Creations\ -\ Lobo\ Blanco.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}

.card-right {
    background-image: url('img/EMME\ Creations\ -\ Lobo\ Blanco.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}


.hola {
    background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
    background-size: cover;
    background-position: center;
    height: 400px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}

.hola-2,
.hola-3 {
    background-image: url('img/EMME\ Creations\ -\ Lobo\ Blanco.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 300px;
}




.home .text-bg-dark {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color);
}