:root {
    --bs-body-bg: #140408 !important;
    --bs-primary: #43071a !important;
    --bs-secondary-color: #eee2e4 !important;
    --bs-tertiary-bg: #65474e !important;
    --bs-font-title: 'Anton' !important;
    --bs-font-paragraph: 'Poppins' !important;
    /* --bs-font-sans-serif: 'Anton', 'Anton SC', 'Poppins' !important; */
}

/*
- Marrón: #140408
- Rojo: #43071a
- Marrón claro: #65474e
- Rosa medio oscuro: #a46a7a
- Rosa medio claro: #e9ded9
- Rosa claro: #eee2e4 - Rosa claro: #f2edec
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--bs-body-bg);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

head {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 * {
    font-family: var(--bs-font-title) !important;
    color: var(--bs-secondary-color) !important;
    letter-spacing: 0.06em;
}

p {
    font-family: var(--bs-font-paragraph) !important;
    color: var(--bs-secondary-color) !important;
}


#logo {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.btn {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    border-color: var(--bs-secondary-color) !important;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--bs-secondary-color) !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-secondary-color);
    font-weight: 500;
}

.bi {
    color: var(--bs-secondary-color) !important;
}

/* Escritorio */
@media only screen and (min-width: 1024px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .home {
        margin-top: 40px;
    }
}

/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 70px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 40px;
    }
}

/* Celulares */
@media only screen and (max-width: 767px) {
    body {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
}


/*  ---------------------------------------
    |             N A V B A R             |
    ---------------------------------------  */

nav .navbar-brand {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    font-family: var(--bs-font-title) !important;
    letter-spacing: 0.06em;
}

nav,
nav a,
nav .nav-link {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    font-family: var(--bs-font-paragraph) !important;
}

nav .nav-link svg {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    font-family: var(--bs-font-paragraph) !important;
    width: 24px;
    height: 24px;
}

nav .navbar-icon svg {
    color: var(--bs-secondary-color) !important;
    height: 30px;
    cursor: pointer;
}

nav .navbar-toggler {
    color: var(--bs-secondary-color) !important;
    border-color: var(--bs-secondary-color);
    border: none;
}

/* REGISTER BUTTONS */
nav .navbar-buttons .btn,
nav .navbar-buttons .btn:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
    border-color: var(--bs-secondary-color);
    font-weight: 500;
}

nav .navbar-buttons .btn:hover {
    background-color: var(--bs-secondary-color) !important;
    color: var(--bs-primary) !important;
    border-color: var(--bs-secondary-color);
    font-weight: 500;
}

/*  -----------------------------------
    |             H O M E             |
    -----------------------------------  */

.jumbotron {
    background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
    background-size: cover;
    background-position: center;
    height: 300px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}



/* .card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.inicio .card-header {
    position: relative;
    z-index: 1;
} */

#home {
    position: relative;
    background-color: var(--bs-body-bg) !important;
}

#home .home-header {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color);
}

#home .card-logo {
    background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

#home .home-card {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color);
}

#home .card-tyrell {
    background-image: url('img/EMME\ Creations\ -\ Lobo\ Blanco.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
    text-align: center; */
}


/*  -------------------------------------------
    |             S E R V I C E S             |
    -------------------------------------------  */

#services .services-body {
    background-color: var(--bs-primary) !important;
    margin-top: 80px;
}

#services .services-icon {
    width: 1.6em;
    height: 1.4em;
}

/*  ---------------------------------------
    |             F O O T E R             |
    ---------------------------------------  */

.footer .footer-body {
    background-color: var(--bs-primary) !important;
    color: var(--bs-secondary-color) !important;
}

.footer ul {
    font-family: var(--bs-font-paragraph) !important;
}

.footer .social-media svg {
    width: 24px;
    height: 24px;
}